
<%= form_for @movie, html: { multipart: true } do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>
 
      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %> <br>
  </p>
 <% if params[:view]="automatic" %>
 
 <%= hidden_field_tag 'view', view %>

 <% else %>

 <p>
   <%= f.label :text %><br>
   <%= f.text_field :text%><br>
 </p>

  
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description%><br>
  </p>

  <p>
    <%= f.label :year %><br>
    <%= f.text_field :year%><br>
  </p>
  <p>
    <%= f.label :plot %><br>
    <%= f.text_field :plot%><br>
  </p>

  <p>
    <%= f.label :rating %><br>
    <%= f.text_field :rating%><br>
  </p>

  <p>
  <%= f.label :images %><br>
  <%= f.file_field :photo %><br>
  </p>

<%end%>
 <br>

  <p>
    <%= f.submit %>
  </p>
<% end %>
