   <div class="panel panel-default">
     <div class="panel-body">

       <div class="container-fluid" style="background: lightblue">
        <div class="row">
          <div class="col-md-4">
              <img src="<%=@movie.photo_url%>" style="height:500px; width:100%"/>
          </div>
          <div class="col-md-8">
            <dl>
              <dt class= "fontstyle">

                Title:
              </dt>
              <dd class"fonttexts">

                 <%= @movie.title %>
               </font>
              </dd>
              <dt class= "fontstyle">
                 Cast:
              </dt>
              <dd class"fonttexts">
                <%= @movie.cast %>
              </dd>
              <dt class= "fontstyle">
                Genre:
              </dt>
              <dd class"fonttexts">
                <%= @movie.genre %>
              </dd>
              <dt class= "fontstyle">
                 Plot:
              </dt>
              <dd class"fonttexts">
                <%= @movie.plot %>
              </dd>
               <dt class= "fontstyle">
                 Year:
              </dt>
              <dd class"fonttexts">
                   <%= @movie.year%>
              </dd>
               <dt class= "fontstyle">
                  Rating:
               </dt>
               <dd class"fonttexts">
                 <%= @movie.rating%>
               </dd>

            </dl>
          </div>
        </div>

        <div class="col-md-12" style="padding-left: 0px;
    padding-right: 0px;"> 
   

                    <div class="panel panel-default">
                                <div class="panel-heading" style="background: silver">
                                    <h3 class="panel-title">
                                        <h4> <strong>Top 10 list of movies</strong></h4>
                                    </h3>
                                </div>
                            <div class="panel-body table-responsive" style="background: silver">
                                  <table class="table ">
                                            <thead>
                                              <tr>
                                                <th>
                                                  <strong> Movie Id</strong>
                                                </th>
                                                <th>
                                                  <strong>Name</strong>
                                                </th>
                                                <th>
                                                  <strong>Genre</strong>
                                                </th>
                                              </tr>
                                            </thead>
                                            <% @genre_same.each do |genre|%>
                                                <tbody  data-spy="scroll"> 
                                                    <tr>
                                                        <td><%=genre.id%></td>
                                                    
                                                    
                                                    
                                                        <td><%=link_to genre.title, movie_path(genre) %></td>
                                                    
                                                    
                                                        <td><%=genre.genre%></td>
                                                    </tr>
                                                </tbody>
                                            <%end%>                            
                                        </table>
                                </div>
                        </div>
                </div>

        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default" style="background: lightyellow">
              <div class="panel-heading" style="background: lavender">
                <h3 class="panel-title" style="font-size: bold;">
                 <strong>Comments</strong>
                </h3>
              </div>

               <%  @movie.comments.limit(3).each do |c| %>
                <div class="panel-body">
                  <%= render partial: "comments/comments",locals:{comment: c }%>
                </div>
               <%end%>
              <div class="panel-footer" style="background: lavender">
                 <h2>Add a comment:</h2>
                 <%= render partial: 'comments/form' %>

               </div>
            </div>
          </div>
  
        </div>
       </div>

         </div>
       </div>
     </div>
   <%= render partial: 'shared/footer' %>

